{% extends 'layouts/base.html' %}

{% block title %} Icons {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.11.14/jquery.timepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.11.14/jquery.timepicker.min.css">

    <script>
        $(function() {
            $('.datepicker').datepicker();
            $('.timepicker').timepicker({ 'timeFormat': 'H:i' });
        });
    </script>
    <title>Create Notesheet</title>
</head>
<body>
    <h1>Create Notesheet</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
		
		 
       
        <button type="submit">Submit</button>
    </form>

   
</body>
{% endblock content %}
</html>
